<form action="/" class="sudoku js-sudoku">
    <span class="notice--title">{{title}}</span>
    <span class="notice--winner">Winner</span>
    <table class="table">
      <tr class="table-row">
        <td class="table-cell"><input type="text" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
      <tr class="table-row">
        <td class="table-cell"><input type="text" value="3" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="4" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="5" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="2" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="8" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="6" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="1" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="7" class="input-number js-input-number" min="1" max="9"></td>
        <td class="table-cell"><input type="text" value="9" class="input-number js-input-number" min="1" max="9"></td>
      </tr>
    </table>
</form>
