body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
.sudoku{
  text-align: center;
}

[class^="notice--"]{
  display: none;
  font-size: 3em;
  margin: .3em 0;
}

.sudoku tr,
.sudoku td{
  border-color: black;
}

.sudoku.has-error tr,
.sudoku.has-error td{
  border-color: red;
}

.sudoku.is-finished tr,
.sudoku.is-finished td{
  border-color: green;
}

.sudoku .notice--title{
  display: block;
}

.sudoku.is-finished [class^="notice--title"]{
  display: none;
}

.sudoku.is-finished [class^="notice--winner"]{
  display: block;
}

.table{
  margin: 0 auto;
  border-collapse: collapse;
}

.table-cell{
  border: 1px solid;
}

.table-cell:nth-child(3n){
  border-right: 3px solid;
}

.table-cell:last-child{
  border-right: 1px solid;
}

.table-row:nth-child(3n){
  border-bottom: 3px solid;
}

.table-row:last-child{
  border-bottom: 1px solid;
}

.input-number{
  border: 0;
  font-size: 1em;
  text-align: center;
  width: 1em;
  padding: 5px;
}

.touch-number{
  position: fixed;
  font-size: 30em;
  top:0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.3
}